@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-50 text-slate-800 font-sans antialiased;
    }
}

.leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    z-index: 0;
}